{% extends "base.html"%}
{% block content %}
<body>
  <form action="/exams/postexam/1/" method="POST">
    <div class="fieldWrapper">
      <label for="id_topic">Kind of feedback:</label>
      {{ exam.name }}
    </div>
    <div class="fieldWrapper">
      <label for="id_message">Your message:</label>
      {{ exam.deadline }}
    </div>
    <p><input type="submit" value="Submit"></p>
  </form>
  <form action="/exams/postexam/1/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
</body>
{% endblock %}
