* 
{ 
    font-family: 'Ubuntu', arial, serif; 
}

#nav 
{
    margin-top: 10;
    margin-right: 5;
    margin-bottom: 8;
    margin-left: 3;
    color: blue;
}

#loggedin 
{
    border-bottom: 1px;
    border-right: 1px;
    color:gray;
}

#header
{
    background-color: gray;
    background-repeat: repeat-x;
}

form
{
    float: left;
    width: 100px;
}

h1
{
    font-size: xx-large;
    font-weight: bold;
    color: navy;
    text-shadow: 5px 5px 5px #FF0000;
}
