<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css' />
    <link href="{{ MEDIA_URL }}style.css" rel="stylesheet" type="text/css" />
    <title>{% block title %}ShitSchool{% endblock %}</title>
  </head>
  
  <body>
    <div id=header>
      <h1>ShitShcool -- a very shit school</h1>
    </div>
    <div id="nav">
      <nav>
        <a href="/accounts/login/">Login</a> |
        <a href="/accounts/logout/">Logout</a> |
        <a href="/exams/postexam/">Create Exam</a> |
        <a href="/exams/">Home</a> |
      </nav>
    </div>
    <div id="loggedin">
      {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
      {% else %}
      <p>Welcome, new user. Please log in.</p>
      {% endif %} 
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>   
  </body>
</html>
